<footer class="footer">
    <div class="container">
        <p>&copy; {{ site.time | date: '%Y' }} AutoFlow - פתרונות אוטומציה עסקית.</p>
    </div>
</footer>

<!-- סקריפט גוגל טרנסלייט מוסתר -->
<script type="text/javascript">
    function googleTranslateElementInit() {
        new google.translate.TranslateElement({
            pageLanguage: 'he',
            layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
            autoDisplay: false
        }, 'google_translate_element');
    }
</script>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

<!-- קריאה לקובץ ה-JavaScript שלנו -->
<script type="module" src="{{ '/assets/js/main.js' | relative_url }}"></script>
